.heading{
  background-color:pink;
  font-family: serif;
  margin-left: : 0;
  margin-top: : 0;
}

#b1{
  background-color:red;
  height: 100px;
  width:100px;
  margin:0;
  position:absolute;
  top:281px;
  left:208px;
}

#b2{
  background-color:blue;
  height: 100px;
  width:100px;
  margin:0;
  position: absolute;
  top:181px;
  left:108px;
}

#b3{
  background-color:green;
  height: 100px;
  width: 100px;
  margin:0;
  position: absolute;
}
